<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
      <p><small>Opinions expressed on this blog are my own, and not necessarily those of my employer.</small></p>
     <p><small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small></p>
    </div>
  </div>
</footer>